# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.HighFiber.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityProjects\AcademyBootcamp\HighFiber\.idea\.idea.HighFiber\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
